@import 'variables'; // Import the variables file
:root {
    --nav-height: 60px; // Adjust this value as needed
    --transition: all 0.3s ease; // Adjust transition as needed
}

.header {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 11;
    padding: 0px 50px;
    width: 95%;
    height: var(--nav-height);
    background-color: rgba(10, 25, 47, 0.85);
    backdrop-filter: blur(10px);
    transition: var(--transition);
    filter: none !important;
    pointer-events: auto !important;
    user-select: auto !important;
    @media (max-width: 1024px) {
        padding: 0px 20px !important;
    }
}
.logo {
    width: 40px;
    height: 40px;
    background-color: transparent; 
    border: 2px solid var(--green); 
    color: var(--green); 
    font-size: 24px; 
    font-weight: bold; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
}
.header ol {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 0; 
    margin: 0;
    list-style: none; 
}
.header ol li a {
    padding: 10px;
}
.header ol li{
    margin: 0px 5px;
    position: relative;
    counter-increment: item 1;
    font-size: var(--fz-xs);
}

.header ol li a::before {
    content: "0" counter(item) ".";
    margin-right: 5px;
    color: var(--green);
    font-size: var(--fz-xxs);
    text-align: right;
}

.nav-items {
    display: flex;
    /* -webkit-box-align: center; */
    align-items: center;
}
.navbar-header{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    color: var(--lightest-slate);
    font-family: var(--font-mono);
    counter-reset: item 0;
    z-index: 12;
}

.navbar-header .resume-button {
    color: var(--green);
    background-color: transparent;
    border: 1px solid var(--green);
    border-radius: var(--border-radius);
    padding: 0.75rem 1rem;
    font-family: var(--font-mono);
    line-height: 1;
    text-decoration: none;
    transition: var(--transition);
    margin-left: 15px;
    font-size: var(--fz-xs);
}
.header {
    transition: transform 0.3s ease-in-out;
}

.hide-header {
    transform: translateY(-100%);
}
/* Responsive Styles */
.burger-menu {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: var(--green);
}
@media (max-width: 1024px) {
    .burger-menu {
        display: block;
    }

    .nav-items {
        display: none;
        flex-direction: column;
        position: absolute;
        top: var(--nav-height);
        right: 0;
        width: 100%;
        background-color: rgba(10, 25, 47, 0.95);
        padding: 20px;
    }

    .nav-items.active {
        display: flex;
    }

    ol {
        flex-direction: column;
    }

    li {
        margin: 10px 0;
    }
}