$dark-background-color: #0a192f;
$dark-text-color: #8892b0;

$light-background-color: #ffffff;
$light-text-color: #333333; 

// Default to dark mode
body {
    margin: 0px;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    background-color: var(--navy);
    color: var(--slate);
    font-family: var(--font-sans);
    font-size: var(--fz-xl);
    line-height: 1.3;
    text-align: left;
}

// h1, h2, h3, h4, h5, h6 {
//     color: $dark-text-color;
// }

a {
    color: $dark-text-color;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



a {
    display: inline-block;
    text-decoration: none !important;
    text-decoration-skip-ink: auto;
    color: inherit !important;
    position: relative;
    transition: var(--transition);
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

*, ::before, ::after {
    box-sizing: inherit;
}

::-webkit-scrollbar {
    width: 6px;  /* Thin scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: transparent; /* Transparent track */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent thumb */
    border-radius: 10px; /* Rounded corners */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.6); /* Darker on hover */
  }

*, ::before, ::after {
    box-sizing: inherit;
}
ul li {
  text-align: left;
}
html {
  scroll-behavior: smooth;
}
body {
  counter-reset: section; 
}
* {
    box-sizing: border-box; /* Ensure this is set globally */
}